h1 {
	text-align: center;
	font-size: 40px;
	background-color: aqua;
	font-family: "arial black"
}
body {
	background-color: aqua;
	font-size: 20px;
	font-family: "Georgia"

}
.box {
	border: 15px;
	padding:200px;
	margin: 40px;

}
.icons{
	position: fixed;
	left: 5px;
	bottom: 10px;
}	
.img {
	align:middle;
	width:30px,
	height:25px;
}
	
	

	
