

h1 {
	text-align: center;
	font-size: 40px;
	background-color:#ED3232;
	font-family: "arial black";
	font-weight: 250;
	font-style: italic;

}

body {
	/*background-color: aqua;*/
	font-size: 20px;
	font-family: "Georgia";
	width:90%;
	/*padding:5px;*/
	margin:0 auto;
	background-image:url(marlon.jpg);
}
.container {
	border: 10px;
	padding:20px;
	margin: 30px;

}
.icons {
	height: 100px;
	width: 100%;
	text-align: middle;
	margin: 0 auto;	
	display: block;	
	
}	
.image1{
	margin: 0 auto;
	width: 250px;
	height: 200px;
	border-radius: 50%;
	float: left;
	padding-top: 10px;
	margin-right: 25px;

}
ul {
	list-style-type: none;
}
li {
	float: left;
	
}
a:hover {
	/*display: block;*/
	/*width: 60px;*/
	color:#ED0739;
	text-decoration:none;
	background:none;
}
.imgage2{
	width: 600px;
	height: 350px;
	float: middle;
	padding:30px;
	border:10px solid;
	border-radius: 10px;
	/*display: none;*/
	border-color: #ED3232;   
}

h2 {
	font-size:40px;
	font-style: italic;
	font-family: "Georgia";
	text-align: center;
	color: black;
	margin-top:45px;
	background-color: #ED3232;
	/*margin-bottom: 20px;*/
	/*padding: 5px;*/	

}
p {
	padding-top: 10px;
	padding-right: 20px;
	padding-left:10px;
	padding-bottom: 20px;

}

.navbar {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #CCCCA7;
}
.navbar ul {
    list-style-type: none; 
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border:2px solid #FF0066;
    display:block;
    overflow: hidden;
    border-radius:25px;
    

}

.navbar li{
    float: right;
    padding: 15px;
    width: 150px;
    margin-left: auto ;
    margin-right: auto ;

    
}
	
.buttons {
	float: middle;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	 height: 50px;
    width: 75px;
    border-radius: 70px;
    border: 2px solid #1A1C1C;

}
h3 {
	font-size:25px;
	font-style: italic;
	font-family: "Georgia";

}
h4 {
	font-size:20px;
	font-style: italic;
	font-family: "Georgia";
}
h5 {
	font-size:15px;
	font-style: italic;
	font-family: "Georgia";
}
.header1 {
	font-size:25px;
	font-style: italic;
	font-family: "Georgia";
}
#intro {
	font-size: 20px;
}

.name {
	background-color: #F2F4F5;
	font-family:  "sans-serif";
	font-size: 45px;
	font-style: italic;
	padding: 5px;
}
#page-wrapper{
	background-color: #F2F4F5;

}
.portfolio1 {
	float: center;
}

.fa-icons {
	display: inline-block;


}
.logos {
	float: left;
	 border:2px solid #FF0066;
}
	
	
	
	
	

	
